/* Initially, the element is hidden */
.flex {
    opacity: 0;
    transition: opacity 1.5s ease-in; /* Define the fade-in transition */
    color: hotpink;
  }
  
  /* When the 'show' class is added, it becomes visible */
  .show {
    opacity: 1; /* Fade in */
  }
  .flex {
    display: flex;
    justify-content: center; /* Centrerer vandret */
    align-items: flex-end; /* Placerer indhold i bunden */
    height: 100%;
    width: 100%;
    position: fixed; /* Fast positionering, så det forbliver i bunden */
    bottom: 0;
}