/* CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    overflow: hidden;
}

/* Stil for p-elementerne */
.højre, .venstre {
    font-size: 80px;
    white-space: nowrap;
    position: absolute;
    color: #d52228;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Placering af elementerne med forskellig topafstand */
div p:nth-child(1) { top: 0px; }
div p:nth-child(2) { top: 77px; }
div p:nth-child(3) { top: 154px; }
div p:nth-child(4) { top: 231px; }
div p:nth-child(5) { top: 308px; }
div p:nth-child(6) { top: 385px; }
div p:nth-child(7) { top: 462px; }
div p:nth-child(8) { top: 539px; }
div p:nth-child(9) { top: 616px; }
div p:nth-child(10) { top: 693px; }
div p:nth-child(11) { top: 770px; }


/* Animering for elementerne, der skal glide fra venstre til højre */
.venstre {
    animation: glideLeftToRight 60s linear infinite;
}

/* Animering for elementerne, der skal glide fra højre til venstre */
.højre {
    animation: glideRightToLeft 60s linear infinite;
}


@keyframes glideLeftToRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes glideRightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .container{
    position: relative;
    text-align: center;
    color: white;
    margin-top: 350px;
  }

  img{
    width: 300px;
  }

  .videre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
  }




/*Vi har placeret den downloadede font i mappen "fonts", som vi også har linket til her*/
@font-face {
    font-family: 'impact';
    src: url(fonts/impact.ttf) format('truetype');
}
